[Unit]
Description=QCMAP Web Client service
After=ql-netd.service

[Service]
ExecStart=/usr/bin/QCMAP_Web_CLIENT
Restart=yes
Restart=always

[Install]
WantedBy=multi-user.target
