[Unit]
Description=QCMAP httpd service
After=ql-netd.service

[Service]
ExecStart=httpd -f -h /WEBSERVER/www -p 80
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
